*
!.gitignore
!/ns-3.29/examples/routing/simple-global-routing.cc
!/ns-3.29/examples/routing/wscript
!/ns-3.29/examples/routing/cs621-dev01.cc
!/ns-3.29/src/applications/wscript
!/ns-3.29/src/applications/model/request-response-client.cc
!/ns-3.29/src/applications/model/request-response-client.h
!/ns-3.29/src/applications/helper/request-response-helper.cc
!/ns-3.29/src/applications/helper/request-response-helper.h
!/ns-3.29/src/applications/model/request-response-server.cc
!/ns-3.29/src/applications/model/request-response-server.h
!/ns-3.29/src/point-to-point/model/point-to-point-net-device.cc
!/ns-3.29/src/point-to-point/model/point-to-point-net-device.h
!/ns-3.29/src/point-to-point/model/ppp-header.cc
!/ns-3.29/src/point-to-point/wscript
!/ns-3.29/wscript
!/ns-3.29/config/config.txt
!run.py
